<template name="postItem">
	
		<!--<p>
        	submitted by {{author}}
        	{{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      	</p>
	</div>-->
	<div class = "posts">
		<!--<h4>{{kind}}</h4>-->
		 <ul>
			<li> 
				<div class="row">
					<div class="col-xs-12">
						<span>{{amount}}</span> {{product}} 
					</div>
					<div class="col-xs-4">
						<input class="btn changeAmount" type="button" value="+">
						<input class="btn changeAmount" type="button" value="-">
					</div>
					<div class="">
						<p>
		        		<a href="{{pathFor 'postEdit'}}">Edit</a>
		      			</p>
					</div>	
	      		</div>
	      	</li>
      	</ul>
           
     </div>
</template>