<template name="postEdit">
	<form>
		<div>
			
			<div class="input-group datetimepicker">
    	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    	<input class="set-due-date form-control" name="date" type="text"/>
  		</div>

			<div>
				<label class="label">Amount</label>
			</div>
			<div>	
				<input name="amount" id="amount" type="number" value="" placeholder="amount of product" class="form-input">
			</div>			
			<div>	
				<label class="label">Product</label>
			</div>	
			<div>	
				<input name="product" id="product" type="text" value="" placeholder="product" class="form-input">
			</div>
			<div>
				<input type="submit" value="Submit" class="btn submit-btn"/>
			</div>
			<div>
				<input type="submit" value="Delete Product" class="btn submit-btn"/>
			</div>
		</div>
	</form>
</template>