<template name="postSubmit">
	<form class="container">	
		<div class="">

			<!--<div>
				<label class="label">Kind</label>
			</div>
			<div>	
				<input name="kind" id="kind" type="text" value="" placeholder="kind of product" class="form-input"/>
			</div>-->
			
			<div>
				<div>
					<label class="label">Amount</label>
				</div>
				<div>	
					<input name="amount" id="amount" type="number" value="" placeholder="amount of product" class="form-input">
				</div>
				

				
				<div>	
					<label class="label">Product</label>
				</div>	
				<div>	
					<input name="product" id="product" type="text" value="" placeholder="product" class="form-input">
				</div>
				
			</div>
			<div>
				<input type="submit" value="Submit" class="submit-btn"/>
			</div>
		</div>
	</form>
</template>