<template name="postItem">
	<div class = "posts">
		 <ul>
			<li> 
				<div class="row">
					<div class="col-xs-5">
						{{amount}} <span> {{product}}</span> 
						<div>
							{{date}}
						</div>
					</div>
					<div class='col-xs-4 margin-top-10'>
		        		<a href="{{pathFor 'postEdit'}}">Edit Product</a>
					</div>	
					<div class="col-xs-3">
						<input class="btn changeAmount" type="button" value="+">
						<input class="btn changeAmount" type="button" value="-">
					</div>
	      		</div>
	      	</li>
      	</ul>
           
     </div>
</template>