<template name="postEdit">
	<form>
		<div class='container'>
			<div class='row'>
				<div class='col-xs-4'>
					<div>
						<label class="label">Amount</label>
					</div>
					<div>	
						<input name="amount" id="amount" type="number" value="{{amount}}" placeholder="amount of product" class="form-input">
					</div>
				</div>
				<div class='col-xs-4'>
						<div>	
							<label class="label">Product</label>
						</div>
						<div>	
							<input name="product" id="product" type="text" value="{{product}}" placeholder="product" class="form-input">
						</div>
				</div>
			</div>
				<div class='row margin-top-10'>
					<div class='col-xs-8'>
						<label class='label'>Expire date</label>
					    <div class="input-group datetimepicker">
				    		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				    		<input class="set-due-date form-control" name="date" type="text" value='{{date}}'/>
				  		</div>
		  			</div>
	  			</div>
			<div class='margin-top-10'>
				<input type="submit" value="Submit" class="btn submit-btn"/><span> <input type="submit" value="Delete Product" class="btn submit-btn delete"/></span>
			</div>
		</div>
	</form>
</template>

				