<template name="layout">
    <body>
        <div class="container">
                
                {{> header}}

                <!--<div>
                    <header>
                       <a href="{{pathFor 'postsList'}}"> <img src="images/logo.png" alt="logo" class="head_logo">
                       </a>
                        <div class='loginbtn'>
                            {{> loginButtons align="right"}}
                        </div>
                    </header>
                </div>-->
            
            <div id="main">
                {{> yield}}
            </div>
        
        </div>
     </body>
</template>
