<template name="layout">
    <body>
        <div class="container">
                <div>
                    <header>
                       <a href="{{pathFor 'postsList'}}"> <img src="images/logo.png" alt="logo" class="head_logo">
                       </a>
                        <button type="button" class="loginbtn">Log in</button>
                    </header>
                </div>
            
            <div id="main">
                {{> yield}}
            </div>
        
        </div>
     </body>
</template>
