body {
/*background-image: url("../images/background_img.gif");*/
background-color: #234567;
background-size: auto;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Titillium Web', sans-serif;
}

.container {
width: 100%;
max-width: 690px;
margin-left: auto;
margin-right: auto;
}

header {
position: relative;
margin-left: auto;
margin-right: auto;
left: 0px;
top: 0px;
width: 100%;
height: 50px;
}

.head_logo{
position: absolute;
left: 10px;
top: 15px;
width : 175px;
height : 26px;
margin: 0px;
font-weight: 700;
font-style: normal;
font-size: 28px;
color: #FFFFFF;
}

.loginbtn {
position: absolute;
left: 600px;
top: 15px;
width: auto;
height: auto;
font-family: 'HelveticaNeue', 'Helvetica Neue';
font-weight: 400;
font-style: normal;
font-size: 13px;
text-decoration: none;
color: #000000;
text-align: center;
}

.posts {
position: relative;
margin-right: auto;
width: 100%;
margin-bottom: 10px;
border-bottom: solid;
border-width: thin;
/*border-radius: 5px;*/
border-color: #000000;
color: #999999;
}

h3 {
margin-top: 0px;
margin-bottom: 5px;
font-family: 'Titillium Web', sans-serif;
font-weight: 300 ;
font-style: italic;
color: #999999;
}

ul {
position: relative;
margin-left: 10px;
padding: 0px;
list-style-type: none;
}

li {
font-family: 'Titillium Web', sans-serif;
font-weight: 400;
}

.navbar  {
	background-color: #234567;
	width: 100%;
	border-radius: 0px;

}

.sub-btn{
	position: absolute;
	left:250px;
	top:15px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

.submit-btn{
	margin-top: 10px;
	color: #FFFFFF;
	background-color: #999999;
	font-family: 'Titillium Web', sans-serif;
}
.submit-btn:hover {
	background-color: #FF0033;
	color: #FFFFFF;
}

.form-input{
	position: relative;
}

.label{
	position: relative;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400 ;
	font-size: 16px;
	font-style: italic;
	padding-left: 0px;
}

.form{
	position: relative;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #234567;
	text-decoration: none;
	font-weight: 400;
}
a:hover{
	color: #999999;
	text-decoration: none;
}

.category {
	background-color: rgb(0, 0, 0, .2);
	
}

.submit-category {
	margin-bottom: 20px;
	width: 100%;
	color: #FFFFFF;
	background-color: #999999;
}
.submit-category:hover {
	background-color: #FF0033;
	color: #FFFFFF;
}

.soft-break {
	display: block;
	height: 1px;
	margin: 8px 0px;
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent);
	border: 0;
}

.well {
	border-radius: 0px;
}
.link-blue{
	color: #234567;
}
.navbar-default {
	border-bottom: solid;
	border-color: #FF0033;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100%;
}

.margin-top-10{
	margin-top: 10px;
}
