body {
background-image: url("../images/background_img.gif");
background-size: auto;
background-attachment: fixed;
font-family: 'Titillium Web', sans-serif;
}

.container {
width: 100%;
max-width: 690px;
margin-left: auto;
margin-right: auto;
}

header {
position: relative;
margin-left: auto;
margin-right: auto;
left: 0px;
top: 0px;
width: 690px;
height: 50px;
border-bottom: solid;
border-width: thin;
border-color: #FFFFFF;
}

.head_logo{
position: absolute;
left: 10px;
top: 15px;
width : 175px;
height : 26px;
margin: 0px;
font-weight: 700;
font-style: normal;
font-size: 28px;
color: #FFFFFF;
}

.loginbtn {
position: absolute;
left: 600px;
top: 15px;
width: auto;
height: auto;
font-family: 'HelveticaNeue', 'Helvetica Neue';
font-weight: 400;
font-style: normal;
font-size: 13px;
text-decoration: none;
color: #000000;
text-align: center;
}

.posts {
position: relative;
margin-right: auto;
width: 100%;
margin-bottom: 10px;
border-bottom: solid;
border-width: thin;
/*border-radius: 5px;*/
border-color: #000000;
}

h4 {
margin-left: 10px;
font-family: 'Titillium Web', sans-serif;
font-weight: 300 ;
font-style: italic;
color: #FFFFFF;
}

ul {
position: relative;
margin-left: 10px;
padding: 0px;
list-style-type: none;
}

li {
font-family: 'Titillium Web', sans-serif;
font-weight: 400;
color: #FFFFFF;
}

.navbar  {
	background-color: transparent;
}

.sub-btn{
	position: absolute;
	left:250px;
	top:15px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	color: #FFFFFF;

}

.submit-btn{
	margin-top: 10px;
	background-color: #FFFFFF;
	color: black;
	font-family: 'Titillium Web', sans-serif;
}

.form-input{
	position: relative;
}
.label{
	position: relative;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400 ;
	font-size: 16px;
	font-style: italic;
	
}

.form{
	position: relative;
	display: block;
	width: 690px;
	margin-left: auto;
	margin-right: auto;

}

a {
	color: #a28754;
}
a:hover{
	color: #a28754;
}
.category {
	background-color: rgb(0, 0, 0, .2);
	border-radius: 5px;
}



