<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <!--<span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>-->
        </button>
        <a href="{{pathFor 'postsList'}}"> <img src="images/logo.png" alt="logo" class="head_logo"></a>
        {{#if currentUser}}<a class="sub-btn" href="{{pathFor 'postSubmit'}}">Submit Product</a>{{/if}}
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>